<mat-toolbar>
  <div class="buttonSpot">
    <button
    (click)="drawer.toggle()"
    mat-icon-button class="example-icon"
    aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
  </button>
  </div>
    <mat-divider vertical></mat-divider>
    <div *ngIf="currentPage == 'myDeals'" class="dealOptionSection">
      <h3>Active Deals</h3>
    </div>
    <mat-divider *ngIf="currentPage == 'myDeals'" vertical></mat-divider>
    <div *ngIf="currentPage == 'myDeals'" class="dealOptionSection">
      <h3>New Deal</h3>
    </div>
    <mat-divider *ngIf="currentPage == 'myDeals'" vertical></mat-divider>
    <div *ngIf="currentPage == 'myDeals'" class="dealOptionSection">
      <h3>Closed Deals</h3>
  </div>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer class="sideNavDrawer" #drawer mode="over" opened="false">
    <mat-nav-list class="sideNavList">
      <mat-list-item>
        <a mat-list-item routerLink="myDeals" (click)="changePage('myDeals')" (click)="drawer.toggle()">My Deals</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a mat-list-item routerLink="myInventory" (click)="changePage('myInv')" (click)="drawer.toggle()">My Inventory</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a mat-list-item routerLink="billing" (click)="changePage('billing')" (click)="drawer.toggle()">Billing</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet (activate)="changeTitle($event.pageTitle)"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
